*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
    /*tar bort linjen under länkar*/
    text-decoration: none;
}

#idName{
    /*ändrar stilen på texten*/
    font-style: italic;
    /*ändrar storleken på texten*/
    font-size:30px;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    /*ändrar färg på texten*/
    color: rgb(255, 255, 255);
    
}
.headingBig{
    /*ändrar stilen på texten*/
    font-style: italic;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
     /*ändrar storleken på texten*/
    font-size: 50px;
    /*ändrar färg på texten*/
    color: rgb(255, 255, 255);
    margin: 2rem 0;
    
    
                      
}
.Button{
/*ändrar färg på texten*/
color: rgb(255, 255, 255);
/*ändrar bakgrundsfärgen i knappen*/
background-color: rgba(199, 138, 97, 0.747);
/*ändrar formen på ramen */
border-radius: 10px;
display:block;
/*gör så att knappen hamnar i mitten automatiskt*/
margin: auto;
 /*ändrar storleken på texten*/
font-size: 15px;
/*ändrar stilen på ramen*/
border-style: solid;
/*ändrar färg på ramen*/
border-color: rgb(255, 255, 255);
/*ändrar stilen på texten*/
font-style: italic;
/*anpassar mellanrummet från knappen till nästa objekt i koden neråt*/
margin-bottom: 20px;
/*ändrar positionen mellan texten och ramen*/
padding: .4rem 1rem;
/*positionen anpassar sig till de ändringar vi gör*/
position: relative;
}
.Button:hover{
    /*lägger till en hand när man håller på knappen*/
    cursor: pointer;
    /*ändrar färg på knappen när man håller på den*/
    background-color: rgba(255, 255, 255, .1);    
}
.fact1{
    
    /*ändrar färg på texten*/
    color: #ffffff;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    /*lägger till en ram och anger storlek, färg och stil*/
    border: 5px double rgb(255, 255, 255);
    /*ändrar formen på ramen*/
    border-radius: 5px;
    /**/
    margin:5px auto;
    /*anger bredd på ramen*/
    width: 35%;
    
    
    

}
.fact2{
    /*ändrar färg på texten*/
    color: #ffffff;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    /*lägger till en ram och anger storlek, färg och stil*/
    border: 5px double rgb(255, 255, 255);
    /*ändrar formen på ramen*/
    border-radius: 5px;
    /**/
    margin:5px auto;
    /*anger bredd på ramen*/
    width: 35%;
}
.fact3{
    /*ändrar färg på texten*/
    color: #ffffff;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    /*lägger till en ram och anger storlek, färg och stil*/
    border: 5px double rgb(255, 255, 255);
    /*ändrar formen på ramen*/
    border-radius: 5px;
    /**/
    margin:5px auto;
    /*anger bredd på ramen*/
    width: 35%;
    
}
#idWord{
    /*ändrar färg på texten*/
    color: rgb(255, 255, 255);
     /*ändrar storleken på texten*/
    font-size: 25px;    
    /*ändrar stilen på texten*/
    font-style:italic;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    margin-bottom: 1rem;
}
.goTo{
     /*ändrar storleken på texten*/
    font-size: 20px;
    /*ändrar stilen på texten*/
    font-style: italic;
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    /*ändrar färg på texten*/
    color: rgb(255, 255, 255);
    /*anger mellanrummet upp ifrån objektet*/
    margin-top:7%;
    
    
    
}

#short{
    /*gör så att texten hamnar i mitten*/
    text-align: center;
    /*lägger till en ram och anger storlek och stil*/
    border: 5px double;
    /*anger formen på ramen*/
    border-radius: 5px;
    /*ändrar formens bredd*/

    /*anpassar text så den hamnar i mitten av hemsidan*/
    margin: auto;
    /*gör utrymmet större ovanför texten*/
    margin-top: 1rem;
    /*skapar mer utrymme i ramen*/
    padding: 0.5rem;
    /*anpassar mellanrummet mellan raderna*/
    line-height: 1.5rem;
    /*positionen anpassar sig till de ändringar vi gör*/
    position: relative;
    width: 60%;
       
}

body {
    /*lägger till bakgrundsbild till hela hemsidan*/
    background: url(/images/background.jpg) no-repeat center center / cover;
    
    
  }
div {
    /*ändrar färg på texten*/
    color: white;
}
.link{
    /*ändrar färg på texten*/
    color:white;
}
footer{
    /*gör så att texten hamnar i mitten*/
    margin-top: 15rem;
    /*gör så att länkarna hamnar i mitten av sidan*/
    text-align: center;
    /*gör länkarna understrukna*/
    text-decoration:underline;
}

.center {

    display: block;
    /* anpassar positionen mellan de olika objekten */
    margin-left: auto;
    margin-right: auto;
    /* ändrar bredd */
    width: 15%;
} 
  .link1{
      /*ändrar färg på texten*/
   color:white;
    /*ändrar storleken på texten*/
    font-size: 15px;
   
  }
 
 
 .topLinks{
/*ändrar färg på texten*/
color: rgb(255, 255, 255);
/*ändrar formen på ramen*/
border-radius: 5px;
display:block;
 /*ändrar storleken på texten*/
font-size: 25px;
/*anger stil på ramen*/
border-style: solid;
/*anger färg på ramen*/
border-color: rgb(255, 255, 255);
/*ändrar stilen på texten*/
font-style: italic;
margin-left: 20px;
/*bredd på ramen*/
width: 150px;
/*gör så att texten hamnar i mitten*/
text-align: center;
/*ändrar utrymmet mellan texten och ramen*/
padding: 0.5rem 0;


 }
 
 
 .profile-pic{
/*ändrar bredd på bilden*/
  width: 150px;
  display: block;
/*ändrar utrymmet runt om bilden*/
  margin: 40px auto;
  /*ändrar formen på ramen*/
  border-radius: 100px;
  /*bestämmer ramens form, färg och storlek*/
  border: 2px white solid;
 }

 
  .port{

    margin-left: 15%;
   
  }
  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(223, 171, 137);
    font-family: Arial;
    margin: 0 auto;
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(184, 181, 181);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(223, 171, 137);
    z-index: 1;
    font-style: italic;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(187, 187, 187);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .erfarenheter{
    text-align: center;
    margin-top: 3rem;
    font-size: 30px;
    font-style: italic;


  }
.student-box-container{

  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: space-around;
  text-align: center;
  margin-top: 10rem;
  
}

.student-cards-column {
  height: 20rem;
  position: relative;
  border-radius: .5rem;
  box-shadow: 0 4px 8px 4px rgba(17,22,26,.16);
  padding: 0 1.25rem;
  background-color:  rgba(235, 180, 144, 0.568);
  border-top: solid .1875rem rgba(255, 255, 255, 0.562)
}
.student-cards-column img { 
  height: 10rem;
  width: 10rem;
  position: relative;
  top: -5rem;
  border-radius: 50%;
  border: 2px solid white;
}

.student-box-text { 
  position: relative;
  top: -3rem;
}

.student-cards-column h3 {
  color: #ffffff;
  padding-bottom: 1rem;
 
}

.student-cards-column p {
  font-style: italic;
  color: #ffffff;
  line-height: 1.5rem;
}





  /*mobil anpassat*/
  @media only screen and (max-width: 375px){

    body {
        width: 100%;
    }
    #short{
       max-width: 70%;
    }
    
    .column{

        max-width: 32%;
        height: 50rem;
        font-size: 15px;
    }
    .port{

        height: 100px;
    }
    .student-box-container{
      width: 90%;
      display: flex;
      flex-direction: column;
      row-gap: 8rem;
      justify-content: center;
      margin: 8rem auto;
     
      
    }
    
  

  }